$primary-color: #212D3A;
$error-color: #c87872;
$card-background-color: #fdfdfd;
$card-border-color: #8d8d8d;
$delete-color: #f2545b; 
$input-background-color: #f5f8fa;
$border-background-color: #cbd6e2;
$input-focus-color: #52A8EC;
$button-background-color: #ff7a59;
$button-background-color--hover: #f5876b;
$button-text-color: #ffffff;
$search-highlight-color: #ffff00;
