@use 'sass:map';

// breakpoints
$breakpoints: (
    sm: 768px,
    md: 960px
);

@mixin bp--tablet {
    @media screen and (min-width: (map.get($breakpoints, 'sm') + 1px)) and (max-width: (map.get($breakpoints, 'md'))) {
        @content;
    }
}

@mixin bp--desktop {
    @media screen and (min-width: (map.get($breakpoints, 'md') + 1px)) {
        @content;
    }
}

