@import '../../style/media-queries';

/* DO NOT CHANGE THIS ROOT CLASS NAME*/
#task-1 {
    .login-container {
      box-sizing: border-box;
      width: 100%;
      margin: auto;
      
      @include bp--tablet {
        width: 500px;
      }

      @include bp--desktop {
        width: 500px;
      }
    }

    .field-label {
      color: #212D3A;
    }

    .form-row {
      display: flex;
      flex-direction: column;
      padding: 10px 15px;
      box-sizing: border-box;
    }

    .password-field-container {
      position: relative;
    }

    .form-required,
    .form-error {
      color: #f2545b;
    }

    .login-button {
      font-size: 12px;
      line-height: 12px;      
      margin: 0;
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      text-align: center;
      transition: background .15s ease-in-out;
      background-color: #ff7a59;
      border-color: #ff7a59;
      color: #fff;
      border-radius: 3px;
      border-style: solid;
      border-width: 1px;
      font-size: 14px;
      padding: 12px 24px;

      &:hover {
        background: #f5876b;
      }
    }

    .password-toggle-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px; /* Adjust right position as needed */
      cursor: pointer;
    }
}
